@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url(../fonts/remixicon.css);
@import "tailwindcss";



.my-font{
    font-family: "Oswald", sans-serif;
}
.my-font2{
     font-family: "Unna", serif;
     
}
@font-face{
    font-family: remixicon;
    src:url(../fonts/remixicon.ttf) format("true type");
}
@layer utilities{
   .bd{
 background-image: radial-gradient(circle, #f0f0f0 1.5px, transparent 1.5px);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 16px 3px;
   }
   .bd1{
    border:  2px solid #f0f0f0;
    border-radius:50%;
   }
  .rdius{
    border-radius: 15px;  
  }
  .foont{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    
  }
  .bd2{
    border: 0.5px solid #f0f0f082;
    border-radius: 5px;
  }
  .bd3{
 background-image: radial-gradient(circle, #f0f0f0 1.5px, transparent 1.5px);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 16px 3px;
   }
   .myphoto{
    border-radius: 21% 79% 72% 28% / 52% 47% 53% 48% ;
   }
   
}